body {
	background: url('cloud.jpg');
	background-size: 100%;
	font-family: Helvetica;
	color: salmon;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}

h1 {
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 2px;
	margin-bottom: 0px;
}

.inputsection {
	margin:50px, 0px, 80px, 0px;
	width: 400px;
}

.inputs {
	width: inherit;
	display: flex;
	flex-direction: column;
}

input {
	margin-top: 10px;
}


button {
	border-radius: 25px;
}

.addoption {
	background-color: white;
	font-size: 25px;
	margin-top: 10px;
	border-radius: 12px;
	border: none;
}

.button {
	background-color: white; /* Green */
	border: 1px;
	font-size: 25px;
	color: gray;
	border: none;
	border-radius: 12px%;
}
